vserver!{{ vserver_number }}!document_root = /var/www
vserver!{{ vserver_number }}!error_writer!filename = /var/log/cherokee/cherokee.error
vserver!{{ vserver_number }}!error_writer!type = file
vserver!{{ vserver_number }}!logger = combined
vserver!{{ vserver_number }}!logger!access!buffsize = 16384
vserver!{{ vserver_number }}!logger!access!filename = /var/log/cherokee/cherokee.access
vserver!{{ vserver_number }}!logger!access!type = file
vserver!{{ vserver_number }}!match = wildcard
vserver!{{ vserver_number }}!match!domain!1 = {{ domain }}
vserver!{{ vserver_number }}!nick = {{ nickname }}
vserver!{{ vserver_number }}!rule!120!document_root = /srv/www/{{ project }}/webapp/site_static
vserver!{{ vserver_number }}!rule!120!handler = common
vserver!{{ vserver_number }}!rule!120!match = directory
vserver!{{ vserver_number }}!rule!120!match!directory = /static
vserver!{{ vserver_number }}!rule!20!handler = uwsgi
vserver!{{ vserver_number }}!rule!20!handler!balancer = round_robin
vserver!{{ vserver_number }}!rule!20!handler!balancer!source!10 = {{ src_number }}
vserver!{{ vserver_number }}!rule!20!handler!check_file = 0
vserver!{{ vserver_number }}!rule!20!handler!error_handler = 1
vserver!{{ vserver_number }}!rule!20!handler!modifier1 = 0
vserver!{{ vserver_number }}!rule!20!handler!modifier2 = 0
vserver!{{ vserver_number }}!rule!20!handler!pass_req_headers = 1
vserver!{{ vserver_number }}!rule!20!match = directory
vserver!{{ vserver_number }}!rule!20!match!directory = /
vserver!{{ vserver_number }}!rule!10!handler = common
vserver!{{ vserver_number }}!rule!10!handler!iocache = 0
vserver!{{ vserver_number }}!rule!10!match = default
source!{{ src_number }}!env_inherited = 1
source!{{ src_number }}!host = 127.0.0.1:{{ wsgi_port }}
source!{{ src_number }}!interpreter = /usr/local/bin/uwsgi -s 127.0.0.1:{{ wsgi_port }} --ini /srv/www/{{ project }}/uwsgi.ini
source!{{ src_number }}!nick = uWSGI 11
source!{{ src_number }}!type = interpreter