vserver!{{ vserver_number }}!directory_index = index.php,index.html
vserver!{{ vserver_number }}!disabled = 0
vserver!{{ vserver_number }}!document_root = /srv/www/{{ project }}
vserver!{{ vserver_number }}!error_writer!filename = /var/log/cherokee/cherokee.error
vserver!{{ vserver_number }}!error_writer!type = file
vserver!{{ vserver_number }}!logger = combined
vserver!{{ vserver_number }}!logger!access!buffsize = 16384
vserver!{{ vserver_number }}!logger!access!filename = /var/log/cherokee/cherokee.access
vserver!{{ vserver_number }}!logger!access!type = file
vserver!{{ vserver_number }}!match = wildcard
vserver!{{ vserver_number }}!match!domain!1 = {{ domain }}
vserver!{{ vserver_number }}!nick = {{ domain }}
vserver!{{ vserver_number }}!rule!400!encoder!gzip = allow
vserver!{{ vserver_number }}!rule!400!flcache = allow
vserver!{{ vserver_number }}!rule!400!flcache!policy = explicitly_allowed
vserver!{{ vserver_number }}!rule!400!handler = fcgi
vserver!{{ vserver_number }}!rule!400!handler!balancer = round_robin
vserver!{{ vserver_number }}!rule!400!handler!balancer!source!10 = {{ src_number }}
vserver!{{ vserver_number }}!rule!400!handler!error_handler = 1
vserver!{{ vserver_number }}!rule!400!match = extensions
vserver!{{ vserver_number }}!rule!400!match!check_local_file = 1
vserver!{{ vserver_number }}!rule!400!match!extensions = php
vserver!{{ vserver_number }}!rule!400!match!final = 0
vserver!{{ vserver_number }}!rule!400!timeout = 30
vserver!{{ vserver_number }}!rule!200!handler = common
vserver!{{ vserver_number }}!rule!200!match = or
vserver!{{ vserver_number }}!rule!200!match!left = or
vserver!{{ vserver_number }}!rule!200!match!left!left = directory
vserver!{{ vserver_number }}!rule!200!match!left!left!directory = /wp-admin
vserver!{{ vserver_number }}!rule!200!match!left!right = directory
vserver!{{ vserver_number }}!rule!200!match!left!right!directory = /wp-content
vserver!{{ vserver_number }}!rule!200!match!right = directory
vserver!{{ vserver_number }}!rule!200!match!right!directory = /wp-includes
vserver!{{ vserver_number }}!rule!100!handler = redir
vserver!{{ vserver_number }}!rule!100!handler!rewrite!10!regex = ^/(.*)$
vserver!{{ vserver_number }}!rule!100!handler!rewrite!10!show = 0
vserver!{{ vserver_number }}!rule!100!handler!rewrite!10!substring = /index.php
vserver!{{ vserver_number }}!rule!100!match = default

source!{{ src_number }}!env!PHP_FCGI_CHILDREN = 5
source!{{ src_number }}!env!PHP_FCGI_MAX_REQUESTS = 490
source!{{ src_number }}!env_inherited = 0
source!{{ src_number }}!host = 127.0.0.1:47990
source!{{ src_number }}!interpreter = /usr/bin/php-cgi -b 127.0.0.1:47990
source!{{ src_number }}!nick = PHP Interpreter
source!{{ src_number }}!type = interpreter
